# Backend
backend/vendor/
backend/.env
backend/node_modules/
backend/storage/logs/*.log
backend/bootstrap/cache/config.php

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# OS & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/